
*{
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #434455;
    font-size: 16px;
}

.container{
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

a{
    display: inline;
    text-decoration: none;
}

p{
    margin: 0;
}

ul, ol{
    list-style: none;
    display: inline;
    padding: 0;
    margin: 0;
}

img{
    display: block;
}




.header{
    border-bottom: 1px solid  #E7E9FC;
    
}

.navigation{
    display: flex;
    align-items: center;
}

.nav_list{
    display: flex;

    gap: 40px;
}

.address_list{
    display: flex;
    gap: 40px;
}

.header_wrapper{
    display: flex;
    align-items: center;
}


.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* h1 */
.title{    
    color: #fff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07; 
    letter-spacing: 1.12px;
    max-width: 496px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 48px;
}

/* h2 */
.team_title, .portfolio_title{
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.72px;
    text-transform: capitalize;
}


/* h3 */
.plan_list_title, .team_list_title, .portfolio_list_title{
    color:#2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.4px;
    margin: 0;
}

.plan_list_title{
    margin-bottom: 8px;
}

.logo{
    color: var(--IRIS, #4D5AE5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    line-height: 1.17;
    margin-right: 76px; 
}

.logo_span{
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.address {
    font-style: normal;
    margin-left: auto;
    align-items: center;
}

.nav_list_a{
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.32px;
    color: #2E2F42;
    padding: 24px 0;
    display: block;
}

.address_list .address_list_item a{
    color: var(--SLATE, #434455);
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.32px;
}

.hero{
    background-color: var(--NAVY-BLUE, #2E2F42);
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero_btn{
    color: var(--WHITE, #FFF);
    background: var(--IRIS, #4D5AE5);
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.64px;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
}

.plan_text{
    color: var(--SLATE, #434455);
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.32px;
}



.plan{
    padding-top: 120px;
    padding-bottom: 120px;
}

.plan_list{
    display: flex;
    gap: 24px;
}

.plan_list_item{
    width: calc((100% - 24px * 3) / 4);
}

.team{
    background: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}
.team_list{
    display: flex;
    gap: 24px;
    text-align: center;
    margin-top: 72px;
}
.team_list_item{
    background:  #FFF;
    width: calc((100% - 24 * 3) / 4);
}

.team_list_text{
    color: var(--SLATE, #434455);
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.32px;
}

.team_text_wrapper{
    padding-top: 32px;
    padding-bottom: 32px;
}



.portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio_title{
    margin-bottom: 72px;
}

.port_inf{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.port_list_item{
    width: calc((100% - 24px * 2) / 3);
    display: flex;
    flex-direction: column;
}

.portfolio_list_title{
    margin-bottom: 8px;
}

.port_list_text_wrapper{
    border-right: 1px solid  #E7E9FC;
    border-bottom: 1px solid  #E7E9FC;
    border-left: 1px solid  #E7E9FC;
    margin: 0;
    padding: 0;
    padding: 32px 16px;
}



.port_list_text{
    color: var(--SLATE, #434455);
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.32px;
}

.footer{
    background: var(--NAVY-BLUE, #2E2F42);
    padding: 100px 0px 100px;
}

.footer_logo{
    display: inline-block;
    margin-bottom: 16px;
}
.footer_span{
    color: var(--CLOUD, #F4F4FD);
    font-family: "Raleway";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px; 
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.footer_text{
    color: var(--CLOUD, #F4F4FD);
    max-width: 264px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-top: 16px;
}

 .nav_list_item a:hover,
 .nav_list_item a:focus{
    color: var(--OCEAN, #404BBF);
}


.address_list_item a:hover,
.address_list_item a:focus{
    color: var(--OCEAN, #404BBF);
}

.hero_btn:hover,
.hero_btn:focus{
    background: var(--OCEAN, #404BBF);
}
